# Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=https://nkktoyalcacmmomyeody.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ra3RveWFsY2FjbW1vbXllb2R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyMzE3NzMsImV4cCI6MjA3ODgwNzc3M30.Ww-9mBf_nJT7SXEZAlL6_Q5NYGr_7YXVgVDPEGewby8

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ra3RveWFsY2FjbW1vbXllb2R5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzIzMTc3MywiZXhwIjoyMDc4ODA3NzczfQ.b8lxb-yEGqFrbiCLQFP6cZxU7fKIOunIpkekG3VW_7o


# Encryption Key (generate a random 32-byte key and keep it secret)
ENCRYPTION_KEY=616b6f25bd8638eede0de06671322428c7c9f492171c8daab858c9352025f9a0

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
